<main class="main">
  <div class="content white">
    <div class="img"></div>

    <h2 class="young-serif mt-4 mb-3">Simple Omelette Recipe</h2>

    <p class="outfit stone-600 bold">
      An easy and quick dish, perfetc for any meal. This classic omlette combines beaten eggs
      cooked to perfection, optionally filled with your choice of cheese, vegetables, or meats.
    </p>

    <div class="card rose-50">
      <span class="header rose-800 bolder mb-2">
        Preparation Time
      </span>
      <ul>
        <li>
          <span class="outfit stone-600 bold mx-3"><strong class="brown-800">Total: </strong>Approximately 10 minutes</span>
        </li>
        <li>
          <span class="outfit stone-600 bold mx-3"><strong class="brown-800">Preparation: </strong>5 minutes</span>
        </li>
        <li>
          <span class="outfit stone-600 bold mx-3"><strong class="brown-800">Cooking: </strong>5 minutes</span>
        </li>
      </ul>
    </div>

    <h4 class="young-serif mt-3 mb-2 brown-800">
      Ingredients
    </h4>
    <ul>
      <li class="mb-2"><span class="outfit stone-600 mx-3 bold">2-3 large eggs</span></li>
      <li class="mb-2"><span class="outfit stone-600 mx-3 bold">Salt, to taste</span></li>
      <li class="mb-2"><span class="outfit stone-600 mx-3 bold">Papper, to taste</span></li>
      <li class="mb-2"><span class="outfit stone-600 mx-3 bold">1 tablespoon of butter or oil</span></li>
      <li class="mb-2"><span class="outfit stone-600 mx-3 bold">Optional fillings: cheese, diced vegetables, cooked meats, herbs</span></li>
    </ul>

    <hr style="border-color: hsl(30, 10%, 34%);" />

    <h4 class="young-serif my-3 brown-800">
      Instructions
    </h4>
    <ul>
      <li class="mb-2">
        <span class="outfit stone-600 bold mx-3">
        <strong class="brown-800">Beat the eggs: </strong>
        In a bowl, beat the eggs with a pich of salt and pepper until they are
        well mixed. You can add a tablespoon of water or milk for a fluffier texture.
        </span>
      </li>
      <li class="mb-2">
        <span class="outfit stone-600 bold mx-3">
        <strong class="brown-800">Heat the pan: </strong>
        Place a non-stick frying pan over medium heat and add butter or oil. 
        </span>
      </li>
      <li class="mb-2">
        <span class="outfit stone-600 bold mx-3">
        <strong class="brown-800">Cook the omlette: </strong>
        Once the butter is melted and bubbling, pour in the eggs. Tilt the pan
        to ensure the eggs evenly coat the surface.
        </span>
      </li>
      <li class="mb-2">
        <span class="outfit stone-600 bold mx-3">
        <strong class="brown-800">Add fillings (optional): </strong>
        When the eggs begin to set at the edges but are still slightly runny in the middle,
        sprinkle your chosen fillings over one half of the omelette.
        </span>
      </li>
      <li class="mb-2">
        <span class="outfit stone-600 bold mx-3">
        <strong class="brown-800">Fold and serve: </strong>
        As the omlette continues to cook, carefully lift one edge and fold it over the fillings.
        Let it cook for another minute, then slide it onto a plate.
        </span>
      </li>
      <li class="mb-2">
        <span class="outfit stone-600 bold mx-3">
        <strong class="brown-800">Enjoy: </strong>
        Serve hot, with additional salt and pepper if needed.
        </span>
      </li>
    </ul>

    <hr style="border-color: hsl(30, 10%, 34%);" />
    
    <h4 class="young-serif mt-3 my-2 brown-800">
      Nutrition
    </h4>
    <p class="outfit stone-600 bold">
      The table below shows nutritional values per serving without the additional fillings.
    </p>

    <ul class="list-group list-group-flush">
      <li class="row px-3">
        <span class="col outfit stone-600 bold">Calories</span>
        <span class="col brown-800 bolder">277kcal</span>
      </li>
      <hr />
      
      <li class="row px-3">
        <span class="col outfit stone-600 bold">Carbs</span>
        <span class="col brown-800 bolder">0g</span>
      </li>
      <hr />

      <li class="row px-3">
        <span class="col outfit stone-600 bold">Protein</span>
        <span class="col brown-800 bolder">20g</span>
      </li>
      <hr />

      <li class="row px-3">
        <span class="col outfit stone-600 bold">Fat</span>
        <span class="col brown-800 bolder">22g</span>
      </li>
    </ul>

  </div>
</main>

<router-outlet />
